*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    border: none;
    background-color: rgba(55, 61, 73, 0.975);
    color:rgba(250, 251, 254, 0.9);
    display: flex;
    justify-content: space-between;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 0.9em;
    height: 3.7em;
    position: sticky;
    top: 0%;
    z-index: 1;
}
#part1{
    margin: 1%;
    display: flex;
}
.tessellate{
    font-weight: 600;
    font-size: 1.25em ;
    margin-top: 3px;
}
.desktop{
    background-color: #676d79;
    border: 1px solid #676d79;
    color: #fff;
    font-weight: 600;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 90px;
    height: 42px;
    margin-left: 20px;
    position: absolute;
    left: 100px;
    top: 6px;
    z-index: 1;
}
#ol1{
    border: 1px solid #676d79 ;
    height: 42px;
    list-style: none;
    font-weight: 600;
    display: flex;
    padding: 10px;
    gap: 30px;
    border-radius: 4px;
    position: absolute;
    left: 201px;
    top: 6px;
}
.upload{
    position: absolute;
    left: 480px;
    top: 6px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #676d79;
    border-radius: 4px;
    width: 42px;
    height: 42px;
    
    
}
#part2{
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 8px;
}
#ol2{
    border: 1px solid #676d79 ;
    height: 40px;
    font-weight: 600;
    list-style: none;
    display: flex;
    padding: 10px 2px;
    gap: 10px;
    border-radius: 4px;
    position: absolute;
    right: 250px;
    top: 6px;
    
}
.back{
    border: 1px solid #676d79;
    border-radius: 4px;
    font-weight: 600;
    width: 70px;
    height: 40px;
    padding: 10px 18px;
    margin-top: 5px;
    
    
}
.download{
    background-color: #e7746f;
    border: 1px solid #e7746f;
    color: #fff;
    font-weight: 600;
    width: 150px;
    height: 40px;
   margin-top: 5px;
   border-radius: 4px;

}
/* block1 */
#block1{
    
    background-image: url("../mp3mp4/tessellate1.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 900px;   

}
section{
    color:rgba(250, 251, 254, 0.9);
    font-family: 'Roboto', sans-serif;
    display: grid;
   place-items: center;
   gap: 20px;
}
#h1{
    font-size: 50px;
    position: absolute;
    top: 330px;
    left: 450px;
    font-weight: 2 ;
    
}
#p1{
    font-size: 25px;
    font-weight: 10;
    position: absolute;
    top: 420px;
    left: 440px;
}
#p1>a{
    color:rgba(250, 251, 254, 0.9);
    font-weight: 10;
    text-decoration: none;
    border-bottom: dotted 1px antiquewhite;
}
#btn1{
color: #fff;
border: 1px solid #F8F8F8;
height: 70px;
width: 350px;
background-color: rgba(216, 217, 221, 0.15);
border-radius: 4px;
position: absolute;
top: 500px;
left: 520px;
font-size: 20px;
font-weight: 10;
}
/* block2 */
#block2{
    
    width: 100%;
    height: 350px;
    display: grid;
    align-items: start;
    justify-items: center;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #676d79;
}
#h2{
margin-top: 100px;
font-size: 50px ;
font-weight: 1;
}
#p2{
    margin-top: 5px;
    font-size: 20px ;  
    gap: 50px;
}
/* block3 */
#block3{
    border: 1px solid;
    background: url(images/bgtr.svg) top right no-repeat, url(images/bgbl.svg) bottom left no-repeat, url(images/bgbl.svg) bottom left no-repeat, url(images/overlay.png), linear-gradient(45deg, #b39c68, #a56365, #412e4c);
    background-size: cover;
    background-position: 50% 50%;
    height: 900px;
    color:rgba(250, 251, 254, 0.7);
    display: flex;
    height: 1100px;
}
#block3>div{
    margin: 10% 5%;
}

.part1>h1{
    border: 1px solid rgba(246, 246, 248, 0.7);
    background-color: rgba(216, 217, 221, 0.15);
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin-left: 150px;
    
}
#clock{
    margin-top: 13px;
    font-size: 90px;
   color: #fff;
   position: absolute;
   top: 1525px ;
   left: 270px;
}
#line1{
    border-left: 1px solid rgba(246, 246, 248, 0.7);
    height: 90px;
    margin-left: 240px;
    
}
#dot1{
    color: rgba(246, 246, 248, 0.7);
    font-size: 120px;
    margin-left: 225px;
    margin-top: -100px ;
}
.p1{
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin-top: 10%;
    margin-left: 80px;
    width: 350px;
    text-align: center;
    line-height: 35px;

}
.part2>h1{
    border: 1px solid rgba(246, 246, 248, 0.7);
    background-color: rgba(216, 217, 221, 0.15);
    border-radius: 50%;
    height: 180px;
    width: 180px;
    
    
}
#bolt{
    margin-left: 20px;
    margin-top: 15px;
}
#line2{
    border-left: 1px solid rgba(246, 246, 248, 0.7);
    height: 90px;
    margin-left: 90px;
    
}
#dot2{
    color: rgba(246, 246, 248, 0.7);
    font-size: 120px;
    margin-left: 75px;
    margin-top: -100px ;
}

.part2>h1>i{
    font-size: 90px;
    color: #fff;
    position: absolute;
    top: 1525px ;
    left: 690px;
 }
 .p2{
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin-top: 40px;
    margin-left: -90px;
    width: 350px;
    text-align: center;
    line-height: 35px;

}
.footer{
    margin-top: 100px;
   margin-left: -80px;
    border: 1px solid antiquewhite;
    background-color: rgba(216, 217, 221, 0.15);
    color: #F8F8F8;
    height: 70px;
    width: 310px;
    border-radius: 4px;
    font-size: 20px ;
    font-weight: lighter;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    align-items: center;
    text-align: center;
    padding: 20px 5px;

}
.part3>h1{
    border: 1px solid rgba(246, 246, 248, 0.7);
    background-color: rgba(216, 217, 221, 0.15);
    border-radius: 50%;
    height: 180px;
    width: 180px;
    
}
#cloud{
    margin-left: -28px;
    margin-top: 15px;
}
#line3{
    border-left: 1px solid rgba(246, 246, 248, 0.7);
    height: 90px;
    margin-left: 90px;
    
}
#dot3{
    color: rgba(246, 246, 248, 0.7);
    font-size: 120px;
    margin-left: 75px;
    margin-top: -100px ;
}

.part3>h1>i{
    color: #fff;
    font-size: 90px;
    position: absolute;
    top: 1520px ;
    left: 1120px;
 }
 .p3{
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin-top: 38px;
    margin-left: -100px;
    width: 350px;
    text-align: center;
    line-height: 35px;

}
.part1>h6{
    font-size: 30px;
    font-weight: lighter;
    margin-left: 190px;
    font-family: 'Source Sans Pro', Arial, sans-serif;

}
.part2>h6{
    font-size: 30px;
    font-weight: lighter;
    margin-left: 30px;
    font-family: 'Source Sans Pro', Arial, sans-serif;

}
.part3>h6{
    font-size: 30px;
    font-weight: lighter;
    margin-left: 20px;
    font-family: 'Source Sans Pro', Arial, sans-serif;

}


/* block4 */
#block4{
    
    width: 100%;
    height: 350px;
    display: grid;
    align-items: start;
    justify-items: center;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #676d79;
}
#h3{
margin-top: 100px;
font-size: 50px ;
font-weight: 1;
}
#p3{
    margin-top: 5px;
    font-size: 20px ;  
    gap: 50px;
}
/* block5 */
#block5{
    border: 1px solid;
    background: url(images/bgtr.svg) top right no-repeat, url(images/bgbl.svg) bottom left no-repeat, url(images/overlay.png), linear-gradient(45deg, #384955, #655361, #85505f);
    background-size: cover;
    background-position: 50% 50%;
    height: 1100px;
    color:rgba(250, 251, 254, 0.7);
    display: flex;
}
#block5>article{
    margin: 8%;
    height: 600px;
    width: 350px;
    word-spacing: 5px;
    font-family: 'Source Sans Pro', Arial, sans-serif;

}
#block5>article>h3{
    font-size: 28px;
    font-weight: 5;
    line-height: 50px;
}
#block5>article>p{
    font-size: medium;
    font-weight: lighter;
    line-height: 30px;
    text-align: justify;
}
#block5>article>h1{
    border: 1px solid #F8F8F8;
    color: #F8F8F8;
    background-color: rgba(216, 217, 221, 0.15);
    height: 70px;
    width: 300px;
    border-radius: 4px;
    font-size: 18px ;
    font-weight: lighter;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    text-align: center;
    padding: 20px 2px;
    margin-top: 60px;
}
#block5>aside{
   margin: 5% 2%; 
}
#block5>aside>div{
    display: flex; 
    gap: 50px;
}
.col-1>img{
    border-radius: 4%;
    margin-left: -100px;
    margin-bottom: 50px;
}
.col-2>img{
    border-radius: 4%;
}
.col-3>img{
    border-radius: 4%;
    margin-left: -100px;
    margin-bottom: 50px;
}
.col-4>img{
    border-radius: 4%;
}
.col-5>img{
    border-radius: 4%;
    margin-left: -100px;
    margin-bottom: 50px;
}
.col-6>img{
    border-radius: 4%;
}
/* block 6 */
#block6{
    
    width: 100%;
    height: 350px;
    display: grid;
    align-items: start;
    justify-items: center;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #676d79;
}
#h4{
margin-top: 100px;
font-size: 50px ;
font-weight: 1;
}
#p4{
    margin-top: 5px;
    font-size: 20px ;  
    gap: 50px;
}
/* block 7 */
#block7{
    border: 1px solid;
    background: url(images/bgtr.svg) top right no-repeat, url(images/bgbl.svg) bottom left no-repeat, url(images/overlay.png), linear-gradient(45deg, #5f796b, #3a4e59, #2f394e);
    background-size: cover;
    background-position: 50% 50%;
    height: 1500px;
    color:rgba(250, 251, 254, 0.7);
    

    
}
#part3{
    margin: 10%;
}
#block7>#part3>img{
    border-radius: 8px;
}
#part4{
    display: flex;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin: 10%;
    gap: 60px;
    margin-top: -100px;
}
#boy-data{
    font-size: 25px;
    font-weight: 1;
    margin-bottom: 55px;
}
#part4>.section1{
    height: 1000px ;
    width: 350px ;
    line-height: 30px ;
    word-spacing: 5px;
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;

}
#part4>.section2{
    height: 700px ;
    width: 350px ;
    line-height: 30px ;
    word-spacing: 5px;
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;


}
#part4>.section3{
    height: 700px ;
    width: 350px ;
    line-height: 30px ;
    word-spacing: 5px;
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;
}
.footer2{
    border: 1px solid #F8F8F8;
    background-color: rgba(216, 217, 221, 0.15);
    height: 70px;
    width: 350px;
    border-radius: 4px;
    font-size: 20px;
    margin-top: 50px;
    padding: 20px;
}
/* block 8 */
#block8{
    width: 100%;
    height: 350px;
    display: grid;
    align-items: start;
    justify-items: center;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #676d79;
}
#h5{
margin-top: 100px;
font-size: 50px ;
font-weight: 1;
}
#p4{
    margin-top: 5px;
    font-size: 20px ;  
    gap: 50px;
}
#part6{
    display: flex;
}
#part6>input{
    height: 60px;
    width: 400px;
   background-color: #f8f8f8;
   border: 1px solid #c8c4c4;
   border-radius: 4px;
   margin-top: -300px;
   font-size: 20px;
   font-weight: lighter;
   padding-left: 20px;
}
#part6>input+input{
    margin-left: 20px;

}
textarea{
    margin-top:-200px ;
    margin-bottom:50px ;
    background-color: #f8f8f8;
    border: 1px solid #c8c4c4;
    border-radius: 4px;
    font-size: 20px;
   font-weight: lighter;
   padding-left: 20px;
   font-family: 'Source Sans Pro', Arial, sans-serif;

}
#part7{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#part7>input{
    height: 70px;
    width: 200px;
    color: #fff;
   border: 1px solid #c8c4c4;
   border-radius: 4px;
   font-size: 20px;
   font-weight: lighter;
   padding-left: 20px;
   background-color: #3d3d3d;
   
  
  
   
}
#part7>input+input{
    background-color: #F8F8F8;
    margin-right: 300px;


}

#footer3{
    margin-bottom:  5% ;
    margin-top:20%;
    margin-left: 300px;
    gap: 30px;
    color: #888;
    font-family: 'Source Sans Pro', Arial, sans-serif;

}
/* block9 */
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 5%;
    gap: 20px;
}
.icons>li{
    border: 1px solid #cbc5c5;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    color: grey;
   
}
#icon1{
  margin-top: 28px ;
  margin-left: 15px;  
    
}
#icon2{
    margin-top: 28px ;
    margin-left: 18px;  
      
  }
  #icon3{
    margin-top: 28px ;
    margin-left: 15px;  
      
  }
  #icon4{
    margin-top: 28px ;
    margin-left: 15px;  
      
  }
  #icon5{
    margin-top: 28px ;
    margin-left: 15px;  
      
  }
.menu{
    display: flex;
    justify-content:center ;
    align-content: center;
    list-style: none;
    font-size: 15px;
    color: #888 ;
    gap: 20px;
}
#block9{
    border: 1px solid #c8c4c4;
    height: 300px ;
    background-color: #f8f8f8;
}
.menu>li{
    display: flex;
    
}
.menu>li>p{
    border-bottom: dotted 1px #c8c4c4;
}